body {
    background-color: rgb(226, 227, 228);
    background-position: center;
    text-align: center;
}


.info {
    color: rgb(10, 0, 0);
    font-size: 2 em;
}

.warning {
    color: rgb(212, 47, 47);

}

  
  select {
    display:inline-block;
    margin-top: 6em;
    margin-left: 2em;       
    position: relative;

}
  